/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 13px;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
a {
    color: #333;
    text-decoration: none;
}

h2 {
    font-size: 25px;
}

ul, ol {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
}

#main-header {
    background: #333;
    height: 50px;
    overflow: hidden;
    margin-bottom: 20px;
}

#branding {
    float: left;
}

#branding h1 {
    color: #fff;
    padding: 5px 0 0 70px;
}

#branding img {
    position: absolute;
    width: 60px;
    height: auto;
}

#main-nav {
    float: right;
    width: 50%;
    padding-top: 12px;
}

#main-nav a{
    color: #fff;
}


#main-nav ul {
    float: right;
}

#main-nav li {
    float: left;
    padding: 3px 5px 0 5px;
    margin: 0 10px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    list-style: square;
    color: #fff;
}

#content {
    float: left;
    width: 63%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0 20px 20px 20px;
}

article img {
    width: 100%;
}

article {
    border-bottom: 1px dotted #ccc;
    padding: 10px 0 20px 0;
}

article .meta{
    margin: 10px 0;
    padding: 10px;
    color: #fff;
    background: #333;
}

article .meta span {
    float: right;
}

.readmore {
    padding: 10px;
    background: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 97%;
    display: block;
    text-align: center;
}

.readmore:hover{
    background: #ccc;
}

#sidebar {
    float: right;
    width: 30%;
}

.search{
    float: right;
}

.search input[type="search"] {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 3px;
    width: 85%;
    height: 20px;
    float: left;
}

.search input[type=image] {
    width: 10%;
    float: right;
}

#sub-nav {
    padding: 15px 0;
}

#sub-nav li {
    padding: 5px 0;
    border-bottom: 1px solid #333;
    font-size: 15px;
    font-weight: bold;
}

#sub-nav a {
    color: #333;
}

#sub-nav a:hover, #sub-nav a:active, #sub-nav a:focus {
    color: #ff0000;
}

.ad img{
    width: 100%;
}

#main-footer {
    min-height: 180px;
    overflow: auto;
    margin-top: 20px;
    background: #333;
    color: #fff;
}

#main-footer a{
    color: #fff;
}

#main-footer li {
    padding: 5px;
    border-bottom: 1px dotted #fff;
}

.copy {
    padding: 20px 0 0 0;
}

.footer-right {
    float: right;
    width: 70%;
}

.footer-left {
    float: left;
    width: 30%;
}

#main-footer .footer-nav {
    float: left;
    font-size: 15px;
    width: 31%;
    padding: 20px 0 20px 0;
    margin-right: 10px;
}

.comment-left {
    float: left;
    width: 8%;
}

.comment-right {
    float: right;
    width: 90%;
}

.comment-left img {
    width: 100%;
}

.comment-form {
    background: #333;
    color: #fff;
    border-radius: 10px;
    margin-top: 20px;
    padding: 6px 20px 10px 20px;
    text-transform: capitalize;
}

.comment-form input[type="text"], .comment-form input[type="email"] {
    border: 1px #333 solid;
    border-radius: 5px;
    height: 20px;
    width: 97%;
    padding: 3px;
}

.comment-form textarea {
    border: 1px #333 solid;
    border-radius: 5px;
    width: 97%;
    padding: 3px;
}

.comment-form button {
    border: 1px #333 solid;
    border-radius: 5px;
    height: 40px;
    width: 37%;
    padding: 3px;
}

.add-form {
    padding: 20px 10px;
}

.add-form input[type="text"], .add-form select {
    border: 1px #333 solid;
    border-radius: 5px;
    height: 20px;
    width: 97%;
    padding: 3px;
}

.add-form select {
    height: 30px;
    width: 98%;
}

.add-form textarea {
    border: 1px #333 solid;
    border-radius: 5px;
    width: 97%;
    height: 100px;
    padding: 3px;
}

.add-form button {
    border: 1px #333 solid;
    border-radius: 5px;
    height: 30px;
    width: 20%;
    padding: 3px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 840px) {
    #branding h1 {
        display: none;
    }

    #branding {
        width: 20%;
    }

    #main-nav {
        width: 80%;
    }

    #sidebar {
        float: none;
        width: 100%;
    }

    #content {
        margin-top: 20px;
        float: none;
        width: 91%;
    }

    .footer-left, .footer-right {
        float: none;
        width: 100%;
    }

    #main-footer .footer-nav {
        float: none;
        width: 100%;
    }

    #main-footer .copy {
        text-align: center;
    }

    .add-form button {
        width: 35%;
    }
}

@media only screen and (max-width: 500px) {

    #main-nav ul li {
        padding: 3px 3px 0 3px;
        margin: 0 5px;
        font-size: 12px;
        list-style: none;
    }

    #content {
        width: 86%;
    }

    .add-form button {
        width: 40%;
    }

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}